<html>
	<head>
		<title>Terraform with Ansible</title>
	</head>
	<body>
		<h1>This webserver was brought to you by Terraform and Ansible</h1>
		<p>If you can see this, Terraform successfully provisioned an Azure VM and Ansible successfully installed nginx.</p>
	</body>
</html>